<!DOCTYPE html>
<html>  
    <head>
        <title>Quiz Master</title>
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Quiz Master</h1>
            </div>
            <div class="content">
                <div class="quiz">
                    <h2>Quiz</h2>
                    <form action="/quiz" method="post">
                        <input type="submit" value="Start Quiz">
                    </form>
                </div>
                <div class="admin">
                    <h2>Admin</h2>
                    <form action="/admin" method="post">
                        <input type="submit" value="Admin">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>